<a href="https://colab.research.google.com/github/inhauser/DSND_Term2/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
dados = pd.read_csv('/content/tested.csv')
dados.head()
dados = dados.drop(['Name','Ticket','Cabin','Embarked'], axis = 1)
dados.head()
dados = dados.set_index(['PassengerId'])
dados = dados.rename(columns = {'Survived' : 'target'}, inplace = False)
dados.head()
dados.describe()
dados.describe(include=['O'])

         Sex
count    418
unique     2
top     male
freq     266

# Nova seção

In [18]:
dados['Sex_F'] = np.where(dados['Sex'] == 'female', 1, 0)
dados['Pclass_1'] = np.where(dados['Pclass'] == 1,1,0)
dados['Pclass_2'] = np.where(dados['Pclass'] == 2,1,0)
dados['Pclass_3'] = np.where(dados['Pclass'] == 3,1,0)

KeyError: ignored

In [12]:
dados = dados.drop(['Pclass','Sex'], axis = 1)

In [19]:
dados.head()

             target   Age  SibSp  Parch     Fare
PassengerId
892               0  34.5      0      0   7.8292
893               1  47.0      1      0   7.0000
894               0  62.0      0      0   9.6875
895               0  27.0      0      0   8.6625
896               1  22.0      1      1  12.2875

In [20]:
dados.isnull().sum()

target     0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

In [21]:
dados.fillna(0, inplace = True)

In [22]:
dados.isnull().sum()

target    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [23]:
x_train, x_test, y_train, y_test = train_test_split(dados.drop(['target'], axis = 1),
                                                    dados["target"],
                                                    test_size = 0.3,
                                                    random_state = 1234)
[{'treino': x_train.shape},
 {'teste': x_test.shape}]

[{'treino': (292, 4)}, {'teste': (126, 4)}]

In [26]:
from sklearn.ensemble import RandomForestClassifier
rndforest = RandomForestClassifier(n_estimators = 1000,
                                   criterion='gini',
                                   max_depth = 5)
rndforest.fit(x_train, y_train)

RandomForestClassifier(max_depth=5, n_estimators=1000)

In [27]:
probabilidade = rndforest.predict_proba(dados.drop('target', axis = 1))[:,1]
classificacao = rndforest.predict(dados.drop('target',axis = 1))

In [29]:
dados['probabilidade'] = probabilidade
dados['classificacao'] = classificacao

In [30]:
dados

             target   Age  SibSp  Parch      Fare  probabilidade  classificacao
PassengerId
892               0  34.5      0      0    7.8292       0.189643              0
893               1  47.0      1      0    7.0000       0.677437              1
894               0  62.0      0      0    9.6875       0.204917              0
895               0  27.0      0      0    8.6625       0.134739              0
896               1  22.0      1      1   12.2875       0.705804              1
...             ...   ...    ...    ...       ...            ...            ...
1305              0   0.0      0      0    8.0500       0.194578              0
1306              1  39.0      0      0  108.9000       0.600665              1
1307              0  38.5      0      0    7.2500       0.194800              0
1308              0   0.0      0      0    8.0500       0.194578              0
1309              0   0.0      1      1   22.3583       0.337422              0

[418 rows x 7 columns]